<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetDoodle.Owin.Dependencies" version="0.2.1-pre01" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.0-alpha1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0-alpha1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.0-alpha1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.0-alpha1" targetFramework="net451" />
  <package id="Microsoft.Owin.Testing" version="3.0.0-alpha1" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
</packages>